* {
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.item {
  padding: 10px;
  background-color: powderblue;
  border: 6px solid violet;
  flex-basis: 100px;
  height: 100px;
  margin: 10px;
}
.item:nth-child(2) {
  background-color: lightcoral;
  flex-grow: 1;
}
