@use './utils/fonts' as *;
@use './utils/variables' as *;
@use './base' as *;
@use './utils/utils' as *;
@use './utils/texts' as *;

@use './components/buttons' as *;
@use './components/links' as *;
@use './components/chef-card' as *;
@use './components/format-card' as *;
@use './components/carousel-button' as *;
@use './components/input' as *;

@use './layout/section' as *;
@use './layout/container' as *;
@use './layout/header' as *;
@use './layout/hero-section' as *;
@use './layout/advantages-section' as *;
@use './layout/traditions-section' as *;
@use './layout/chefs-section' as *;
@use './layout/formats-section' as *;
@use './layout/contact-section' as *;
@use './layout/footer' as *;
@use './layout/modal' as *;
@use './layout/form-terms' as *;

/* checkbox styles*/
/*.checkbox {
  position: relative;
}
.checkbox-input {
  appearance: none;
}
.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--color-brand-normal);
}
.checkbox-label {
  padding-left: 24px;
}
.checkbox-label::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
  margin-top: 5px;
}*/
