.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 80px;
  }
  &__title::before,
  &__title::after {
    position: absolute;
    bottom: 24px;
    content: '';
    width: 352px;
    border: 2px solid var(--color-brand-light);
  }
  &__title::before {
    left: 0;
  }
  &__title::after {
    right: 0;
  }

  &__list {
    display: flex;
    column-gap: 30px;
    row-gap: 40px;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
