.chefs-title {
  position: relative;
  margin: 0 auto 80px;
}
.chefs-title::before,
.chefs-title::after {
  position: absolute;
  bottom: 24px;
  content: '';
  width: 352px;
  border: 2px solid var(--color-brand-light);
}
.chefs-title::before {
  left: 0;
}
.chefs-title::after {
  right: 0;
}
.chef-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.chefs-list {
  display: flex;
  column-gap: 30px;
  row-gap: 40px;
  flex-wrap: wrap;
}
.chef-item {
  flex-basis: calc((100% - 30px) / 2);
}
